<div id="options" class="um-options-set col-xs-2 hide">
  <%= image_tag('umberlogo.png', class: 'logo') %>
  <!-- <p class="lead">There's something going on umber here.</p> -->

  <div class="um-option">
    <p class="um-opt-title">Dataset</p>
    <%= select_tag :dataset_id, options_for_select([]), multiple: true %>

    <div class="legend">
      <span class="colorswatch min"></span>
      <span class="value min"></span>

      <br/>

      <span class="colorswatch max"></span>
      <span class="value max"></span>
    </div>

<!--
    <div class="um-legend">
      <p class="um-legend-unit">In Pascals</p>
      <div class="um-legend-unit-color"></div>
    </div>
 -->

  </div>

  <div class="um-option">
    <p class="um-opt-title">Year</p>
    <%= select_tag :years, options_for_select(
      2014.downto(1948).map{ |year| [year, year] }
    ), multiple: true %>
  </div>

  <div id="times" class="um-option hide">
    <p class="um-opt-title">Time</p>
    <%= select_tag :times, options_for_select([]), multiple: true %>
  </div>
</div> <!-- /um-options-set -->

<div id="map"></div>

<div id="circleG">
  <div id="circleG_1" class="circleG"></div>
  <div id="circleG_2" class="circleG"></div>
  <div id="circleG_3" class="circleG"></div>
</div>

<% content_for :dom_ready do %>
  navigator.geolocation.getCurrentPosition(function(position) {
    latitude = position.coords.latitude;
    longitude = position.coords.longitude;
    window.coordinates = [latitude, longitude];
    new Map();
  });
<% end %>
