//= require_tree .
//= require_self
//= require leaflet

@import "animate"
@import "variables"
@import "bootstrap"
@import "loader"

@import "bootstrap/theme"

html, body, #map
  height: 100%

#map
  width: 100%

.um-options-set
  position: fixed
  left: 0
  top: 0
  z-index: 2

.um-option
  padding: $padding-large-vertical*2
  margin-bottom: $padding-large-vertical*2
  background: $brand-primary
  box-shadow: 1px 1px 0 lighten($brand-primary, 15%), 2px 2px 0 lighten($brand-primary, 5%), 3px 3px 0 darken($brand-primary, 15%), 4px 4px 0 darken($brand-primary, 20%), 5px 5px 0 darken($brand-primary, 25%), 6px 6px 0 darken($brand-primary, 30%)

  select
    width: 100%

.um-legend-unit-color
  height: 40px
  width: 40px
  background-color: $brand-success

.legend
  margin-top: 10px
  width: 400px
  height: 30px

  .colorswatch
    width: 20px
    height: 15px
    display: inline-block
    background-color: #bbb

select[multiple]
  height: 200px !important

  &[name="dataset_id[]"]
    height: 100px !important
